<nav class="navbar navbar-expand-lg navbar-dark my-nav">
    <div class="container-fluid d-flex rtl">
        <a class="navbar-brand rtl" [routerLink]="['/home']">
            <img src="../../assets/images/logo2.png" alt="logo" class="img-logo">
            <span class="main-Title">الرساله</span>
        </a>
        <button class="navbar-toggler rtl" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon rtl"></span>
        </button>
        <div class="collapse navbar-collapse rtl" id="navbarNavDropdown">
            <ul class="navbar-nav rtl">
                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="['/home']" routerLinkActive="active">الرئيسية <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown dropdown-mine rtl">
                    <a class="nav-link dropdown-toggle rtl" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        الأرشيف
                    </a>
                    <div class="dropdown-menu dropdown-content rtl" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item rtl" [routerLink]="['/']">كلام</a>
                        <a class="dropdown-item rtl" [routerLink]="['/']">كلام</a>
                        <a class="dropdown-item rtl" [routerLink]="['/']">كلام</a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-mine rtl">
                    <a class="nav-link dropdown-toggle rtl" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        عن المجلة
                    </a>
                    <div class="dropdown-menu dropdown-content rtl" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item rtl" [routerLink]="['/about-us']">من نحن</a>
                        <a class="dropdown-item rtl" [routerLink]="['/what-we-are']">قالوا عنا</a>
                        <a class="dropdown-item rtl" [routerLink]="['/editorial-board']">هيئة التحرير</a>
                        <a class="dropdown-item rtl" [routerLink]="['/advisory-board']">الهيئة الاستشارية</a>
                    </div>
                </li>
                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="['/publication-terms']" routerLinkActive="active">شروط
                        النشر</a>
                </li>
                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="['/category']" routerLinkActive="active">التصنيف</a>
                </li>
                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="['/submit-article']" routerLinkActive="active">ارسال مقالة</a>
                </li>
                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="['/contact-us']" routerLinkActive="active">تواصل معنا</a>
                </li>

            </ul>
        </div>
        <div class="form-inline">
            <ul class="navbar-nav rtl">
                <li class="nav-item rtl d-flex justify-content-center align-items-center">
                    <a class="nav-link rtl" [routerLink]="['/login']">تسجيل
                        دخول</a>
                </li>
                <li class="nav-item rtl d-flex justify-content-center align-items-center">
                    <a class="nav-link rtl" [routerLink]="['/register']">إنشاء
                        حساب</a>
                </li>
                <li class="nav-item dropdown d-flex justify-content-center align-items-center">
                    <a class="nav-link" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="../../assets/images/original.jpg" alt="" class="img-cont rounded-circle mr-2">
                        <span class="nav-item-color">مرحبا مستخدم</span>
                    </a>
                    <div class="dropdown-menu rtl" aria-labelledby="accountDropdown">
                        <a class="dropdown-item rtl" href="#">حسابي</a>
                        <a class="dropdown-item" href="#">الخصوصية</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">تسجيل خروج</a>
                    </div>
                    <!-- <a class="nav-link" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="far fa-user-circle nav-item-color mr-2"></i>
                        <span class="nav-item-color">مرحبا مستخدم</span>
                    </a>
                    <div class="dropdown-menu rtl" aria-labelledby="accountDropdown">
                        <a class="dropdown-item rtl" href="#">حسابي</a>
                        <a class="dropdown-item" href="#">الخصوصية</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">تسجيل خروج</a> 
                    </div> -->
                </li>
            </ul>

        </div>
    </div>
</nav>