<footer class="footer">
    <div class="container-fluid">
        <div class="main-footer pt-4 pb-2 px-5">
            <div class="row rtl">
                <div class="col-md-6">
                    <div class="py-3">
                        <h4>تواصل معنا</h4>
                    </div>
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i>
                            <span>00966114674454</span>
                        </li>
                        <li>
                            <i class="fas fa-print"></i>
                            <span>(+966) 11-4679965</span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span>Jes@ksu.edu.sa</span>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>رقم المبنى: 15 - كلية التربية – جامعة الملك سعود </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="py-3">
                        <h4>لا تتواصل معنا</h4>
                    </div>
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i>
                            <span>00966114674454</span>
                        </li>
                        <li>
                            <i class="fas fa-print"></i>
                            <span>(+966) 11-4679965</span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span>Jes@ksu.edu.sa</span>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>رقم المبنى: 15 - كلية التربية – جامعة الملك سعود </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center py-3">
                <h3 class="main-color">الرساله</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam quibusdam facilis, expedita,
                    excepturi exercitationem nisi ducimus cum ratione ad asperiores culpa repudiandae rerum. Accusantium
                    fugit quibusdam voluptatibus doloremque sit!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright-footer">
        <div class="py-2 text-center second-color">
            <span class="d-block">حقوق الطبع والنشر <strong class="main-color">رسالة</strong>. كل
                الحقوق محفوظه<i class="far fa-copyright ml-2"></i></span>
            <span>تم التصميم من قبل <a class="main-color link" href="#" target="_blank">فاعل خير</a></span>
        </div>
    </div>
</footer>