.my-card-title{
    position: relative;

    h3{
        color: var(--main-color);
        font-size: 2rem !important;
        font-weight: 600;
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        width: 70px;
        height: 6px;
        border-radius: 10px;
        background-color: #cccccc;
    }
}