<div class="title-box d-flex justify-content-center {{is_section_title ? 'pb-5' : ''}} mb-2">
    <div class="title-mini-box pb-3 d-flex align-items-center justify-content-center">
        <div *ngIf="icon" class="main-icon mr-3 h-100 d-flex align-items-center">
            <i class="{{ icon }}"></i>
        </div>

        <div class="text-center">
            <h3 class="title mb-2">
                {{main_title}}
                <span *ngIf="sub_title" class="forth-color">
                    {{sub_title}}
                </span>
            </h3>

            <p *ngIf="description" class="fifth-color mb-0">
                {{description}}
            </p>
        </div>
    </div>
</div>
