.title-box{

    .title-mini-box{
      border-bottom: #cccccc 1px dotted;
  
      .main-icon{
        font-size: 2.5rem;
      }
    
      .title{
        font-size: 2rem;
        font-weight: 900;
      }
    }
}