<nav class="navbar navbar-expand-lg navbar-dark my-nav">
    <div class="container-fluid d-flex rtl">
        <a class="navbar-brand d-flex flex-column align-items-center justify-content-center rtl"
           [routerLink]="[getHomeLink()]">
            <img src="../../assets/images/logo2.png" alt="logo" class="img-logo">
            <span class="main-Title">
              {{ 'BASIC.APP_NAME' | translate }}
            </span>
        </a>
        <button class="navbar-toggler rtl" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon rtl"></span>
        </button>
        <div class="collapse navbar-collapse rtl" id="navbarNavDropdown">
            <ul class="navbar-nav rtl align-items-center nav-bar-list menu-item w-100">

                <li class="nav-item rtl d-lg-none d-block w-100">
                  <div class="form-inline w-100">
                    <app-account-links class="w-100"></app-account-links>
                  </div>
                  <div class="my-4">
                    <mat-divider></mat-divider>
                  </div>
                </li>

                <li class="nav-item rtl">
                    <a class="nav-link rtl" [routerLink]="[getHomeLink()]" routerLinkActive="active">
                      <span>
                        {{ 'PAGES.HOME' | translate }}
                      </span>
                      <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-mine rtl">
                    <a class="nav-link dropdown-toggle rtl" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ 'PAGES.ARCHIVE' | translate }}
                    </a>
                    <div class="dropdown-menu dropdown-content rtl" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item rtl" [routerLink]="['/']">عدد 1</a>
                        <a class="dropdown-item rtl" [routerLink]="['/']">عدد 2</a>
                        <a class="dropdown-item rtl" [routerLink]="['/']">عدد 3</a>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-mine rtl">
                    <a class="nav-link dropdown-toggle rtl" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ 'PAGES.ABOUT' | translate }}
                    </a>
                    <div class="dropdown-menu dropdown-content rtl" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item rtl" [routerLink]="[getAboutUs()]">
                          {{ 'PAGES.WHO_IS_US' | translate }}
                        </a>
                        <a class="dropdown-item rtl" [routerLink]="[getTestimonial()]">
                          {{ 'PAGES.TESTIMONIAL' | translate }}
                        </a>
                        <a class="dropdown-item rtl" [routerLink]="[getAdvisoryBody()]">
                          {{ 'PAGES.ADVISORY_BODY' | translate }}
                        </a>
                    </div>
                </li>

                <li class="nav-item rtl" aria-label="Publication-rule">
                    <a class="nav-link rtl" [routerLink]="[getPublicationRules()]" routerLinkActive="active">
                      {{ 'PAGES.PUBLICATION_RULES' | translate }}
                    </a>
                </li>

                <li class="nav-item rtl" aria-label="category">
                    <a class="nav-link rtl" [routerLink]="[getMagazineCategory()]" routerLinkActive="active">
                      {{ 'PAGES.MAGAZINE_CATEGORY' | translate }}
                    </a>
                </li>

                <li class="nav-item rtl" aria-label="send Article">
                    <a class="nav-link rtl" [routerLink]="[getSubmitArticle()]" routerLinkActive="active">
                      {{ 'PAGES.SEND_ARTICLE' | translate }}
                    </a>
                </li>

                <li class="nav-item rtl" aria-label="contact-us">
                    <a class="nav-link rtl" [routerLink]="[getContactUs()]" routerLinkActive="active">
                      {{ 'PAGES.CONTACT_US' | translate }}
                    </a>
                </li>

            </ul>
        </div>
        <div class="form-inline d-lg-block d-none">
            <app-account-links></app-account-links>
        </div>
    </div>
</nav>
