<section class="py-4" *ngIf="latest_news.length">
    <app-section-title [icon]="'far fa-newspaper'" 
                        [main_title]="'أخر'"
                        [sub_title]="'اخبارنا'"
                        [description]="'تعرف على كل جديد أخبار الجمعية'">
    </app-section-title>

    <div class="row rtl mt-2">

        <div class="col-md-6 col-lg-4 mb-4 rtl" *ngFor="let news of latest_news">
            <div class="news-box">
                <div class="img-box">
                    <a [routerLink]="detailsUrl(news.slug)">
                        <div class="img-wrap"></div>
                        <img class="img-fluid news-img"
                            src="{{this.news.images[0]}}"
                            onerror="this.src = '../../../assets/images/default.jpg'"
                            alt="">
                    </a>
                    
                    <a [routerLink]="detailsUrl(news.slug)" class="link news-title">
                        <h3 class="mb-0">
                        {{ news.title }}
                        </h3>
                    </a>
                </div>

                <div class="create-box">
                    {{ displayContent(news.created_at) }}
                </div>
            </div>
        </div>

    </div>
</section>
