<app-article-author
  [form]="form"
  [educational_form]="educational_form">
</app-article-author>


<div class="my-4">
  <button class="btn btn-success mx-2" (click)="submitForm()">
    {{ 'submit_article.form.save' | translate }}
  </button>
</div>

<app-authors-list
  [article]="article">
</app-authors-list>


<div aria-label="navigation" class="mt-5">

  <button class="btn btn-dark mx-2" (click)="back()">
    {{ 'stepper.back' | translate }}
  </button>

  <button class="btn btn-dark" (click)="next()">
    {{ 'stepper.next' | translate }}
  </button>

</div>
