<section class="">
    <app-section-title [icon]="'far fa-image'" 
                        [main_title]="'الفاعليات فى صور'"
                        [description]="'البوم صور لأهم فاعليات جمعية رسالة'">
    </app-section-title>

    <div class="row rtl mt-2">
        <div class="col-md-6 col-lg-4 col-xl-3 mb-4 text-center rtl" *ngFor="let event of events.slice(0, 4)">
            <a [routerLink]="">
                <img class="img-fluid event-img"
                    src="{{this.event.images}}"
                    onerror="this.src = '../../../assets/images/default.jpg'"
                    alt="">
            </a>
        </div>
    </div>
</section>