<section class="py-4 mx-xl-2">
  <app-section-title [icon]="'fas fa-briefcase'"
                     [main_title]="'الانشطة'"
                     [is_section_title]="false">
  </app-section-title>

  <kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>

  <div class="row rtl pt-3" [hidden]="isLoadingResults">
    <div class="col-md-6 col-xl-4 mb-5" *ngFor="let activity of activities">
      <div class="activity-card h-100">
        <div class="activity-content p-4">
          <div class="activity-img py-3">
            <img src="{{activity.images[0]}}" class=""
                 onerror="this.src = '../../../assets/images/default.jpg'"
                 alt="">
          </div>
          <div class="activity-title">
            <h3 class="">{{activity.title}}</h3>
          </div>
        </div>
        <div class="activity-button">
          <a [routerLink]="detailsUrl(activity.slug)" class="link py-3 d-block h-100">
            <span>تفاصيل النشاط</span>
            <i class="fas fa-arrow-left pl-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-no-data [text]="'انشطة'" *ngIf="!activities.length && !isLoadingResults"></app-no-data>


</section>
