<app-section-title [icon]="'fas fa-images'"
                      [main_title]="'الصور'"
                      [is_section_title]="false">
</app-section-title>

<section class="py-4">
    <div class="row rtl">
        <div class="col-xl-4 col-md-6" *ngFor="let photo of photos">
            <div class="mb-5">
                <div class="img-contanier">
                    <a [routerLink]="detailsUrl(photo.slug)">
                        <div class="img-wrap"></div>
                        <img class="img-fluid view-img"
                            src="{{photo.images}}"
                            onerror="this.src = '../../../assets/images/default.jpg'"
                            alt="">
                    </a>
                </div>
                <div class="text-container py-4">
                    <a [routerLink]="detailsUrl(photo.slug)" class="link view-title">
                        <h3 class="">
                        {{ photo.title }}
                        </h3>
                    </a>
                    <span class="lead">
                        {{ photo.created_at }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
