<section class="py-4">
  <div class="container-fluid">
      <div class="web-container">
          <div class="row rtl">
              <div class="col-lg-9">
                <section aria-label="PUBLICATION_RULE" *ngIf="rules" class="portfolio-item mb-5 pr-4">
                  
                  <app-section-title [icon]="'fas fa-tasks'"
                      [main_title]="'Components.PUBLICATION_RULE.name' | translate"
                      [is_section_title]="false">
                  </app-section-title>

                  <ol class="text-left">
                    <li *ngFor="let rule of rules">
                      <p class="description" [innerHTML]="rule.content"></p>
                    </li>
                  </ol>
              
                </section>
              </div>
              <div class="col-lg-3">
                  <app-most-viewed [padding]="'py-4'" [position]="'position-sticky sticky'"></app-most-viewed>
              </div>
          </div>
      </div>
  </div>
</section>
