<section class="container-fluid my-4 px-5 py-4">

  <section aria-label="PUBLICATION_RULE" *ngIf="rules" class="portfolio-item mb-5 pr-4">

    <div class="title-box py-3 mb-2">
      <h2 class="text-center title">
        {{ 'Components.PUBLICATION_RULE.name' | translate }}
      </h2>
      <div class="title-border"></div>
    </div>

    <ol class="text-left">
      <li *ngFor="let rule of rules">
        <p class="description">{{rule.content}}</p>
      </li>
    </ol>

  </section>

</section>
