<section class="container-fluid my-4 px-5 py-4">

  <section aria-label="advisory_bodies" *ngIf="advisory_bodies" class="portfolio-item mb-5">

    <div class="title-box py-3 mb-2">
      <h2 class="text-center title">
        {{ 'Components.ADVISORY_BODY.name' | translate }}
      </h2>
      <div class="title-border"></div>
    </div>

    <ol class="text-left">
      <li *ngFor="let advisory of advisory_bodies">
        <p class="description">{{advisory.job}} / {{ advisory.name }}</p>
      </li>
    </ol>

  </section>

</section>
