//Vars

$backGroundHeader: #3c3a38;
$navItemColor: rgba(255, 255, 255, .5);
$titleFont: 20px;
$amongFont: 16px;

// Bootstrap Adjustment
.rtl .navbar-nav .nav-item + .nav-item {
  margin-right: 0;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--second-color);
  transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--main-color);
}

.dropdown-item:hover {
  background-color: transparent;
}

// NavBar

.my-nav {
  background: $backGroundHeader;
}

.img-logo {
  width: 50px;
}

.main-Title {
  font-size: $titleFont;
  font-weight: 800;
  color: var(--main-color);
  text-shadow: -4px 3px 5px rgba(152, 150, 150, 0.77);
}

ul li {
  font-size: var(--big-font-size);
  font-weight: 600;
}


.dropdown-mine {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a, .dropdown-menu a {
  color: var(--third-color);
  font-size: 15px;
  font-weight: 700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease-in-out;
}


.dropdown-content a:hover {
  color: var(--main-color);
}

.dropdown-mine:hover .dropdown-content {
  display: block;
}

.my-btn {
  padding: 4px 8px;
}

.img-cont {
  width: 30px;
}


@media (min-width: 992px) {
  .dropdown-menu {
    position: absolute;
    top: 40px !important;
  }
}

@media (max-width: 1199.98px) {
  .accountDropdown {
    width: 100%;
    text-align: center !important;
    .dropdown-item{
      text-align: center !important;
    }
  }
}

.logout-btn{
  cursor: pointer;
}

.my-btn{
  display: inline-block;
  padding: .375rem .75rem;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .5rem;
  text-align: center;
  vertical-align: middle;
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in-out;

  &:hover{
      text-decoration: none;
      background-color: var(--main-color);
  }
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.3rem;


  .print-icon{
    font-size: 2rem;
    color: rgb(52, 58, 71);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
      color: var(--secondary-color);
      font-size: 2.3rem;
    }
  }
}

@media screen and (max-width: 991.98px){
  .icon-container{
    margin-bottom: 7px;
  }
}

.print-btn{
  outline: none;
  border: none;
  background: none;
}
