<div class="px-5 py-4 rtl" *ngIf="model">
    <div class="mb-3">
      
      <div class="my-card-title pb-5">
        <h3 class="">{{ model.title }}</h3>
      </div>
  
      <div class="w-100">
        <app-shared-videos [link]="model.link" [height]='350'></app-shared-videos>
      </div>
  
      <div class="card-body">
        <p class="card-text" [innerHTML]="model.content"></p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fa fa-eye mx-2"></i>
            <span>{{ model.views }}</span>
            <span> {{'COMMON.view' | translate }}</span>
          </small>
        </p>
      </div>
    </div>
  </div>