<div class="py-5">
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
                <div class="text-center">
                    <div class="">
                        <div class="text-center">
                            <img src="../../../assets/images/slid1.jpg" alt="" class="test-img">
                        </div>
                        <div class="py-3">
                            <h4 class="test-name">حازم محمد</h4>
                            <div id="stars" class="">
                                <i *ngFor="let item of newArray(slide.stars)" class="fas fa-star"></i>
                                <i *ngFor="let item of newArray(5-slide.stars)" class="far fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="test-content">
                        <p class="px-5 py-2">
                            <i class="fas fa-quote-left pr-4 mb-1"></i>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.
                            Repudiandae et id exercitationem, odio rem in explicabo velit debitis a molestiae, dolor
                            provident laborum nulla ducimus ea consequatur dicta dolores ad!<i
                                class="fas fa-quote-right pl-4 mt-1"></i>
                        </p>
                    </div>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>