.video-actions {
  border-color: #EEEEEE !important;
  .btn {
    span {
      color: var(--dull-orange);
    }
  }
}

.details {
  margin-top: 1rem;
  h1 {
    font-size: 1.25rem;
    font-family: Muli-Bold, serif;
  }

  p {
    font-family: Muli-Regular, serif;
    color: #6C6C6C;
    font-size: 1rem;
    margin-top: 1.25rem;
  }
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

iframe {
  display: none;
  height: 100%;
}

iframe, .bg {
  min-height: 25rem;
}

.save-recipes{
  span{
    cursor: pointer;
    i.saved{
      color: var(--dull-orange) !important;
    }

    span{
      color: rgb(135 122 122) !important;
      font-size: 1rem !important;
      font-weight: bold;
    }
  }
}

app-video-player{
  width: inherit !important;
}
