<section class="py-4">
  <div class="container-fluid">
      <div class="web-container">
          <div class="row rtl">
              <div class="col-lg-9">
                <app-magazine-goals-list [goals]="goals"></app-magazine-goals-list>

                <app-mission-and-vision [information]="magazine_information"></app-mission-and-vision>
              </div>
              <div class="col-lg-3">
                  <app-most-viewed [padding]="'py-4'" [position]="'position-sticky sticky'"></app-most-viewed>
              </div>
          </div>
      </div>
  </div>
</section>
