
//Vars

$backGroundFooter: #35322d;
$copyrightFooter: #262a30;

.footer{
    background-color: var(--lite-black);
}

.main-footer{
    color: var(--second-color);
    ul{
        padding: 0;
        list-style-type: none;
        li{
            padding: 6px 0;
            span{
                margin-right: 6px;
            }
        }
    }
}

.copyright-footer{
    background-color: $copyrightFooter;
}
