.logo-marquee{
    width: 30px;
}

.text-marquee{
    font-size: 1rem;
}

.marquee{
    //background-color: #d9d6cd;
    background-color: var(--sub-color);
    color: var(--white);
    padding: 6px 0 0 0;
    text-overflow: clip;
}

// adjustment

.ng-marquee[_ngcontent-ars-c22]{
    background-color: crimson;
}
