<app-latest-news [latest_news]="latest_news"></app-latest-news>

<section class="py-4">
    <div class="container-fluid">
        <div class="web-container">
            <div class="row rtl">
                <div class="col-md-6 mb-4 border-left">
                    <app-most-viewed></app-most-viewed>
                </div>

                <div class="col-md-6">
                    <app-most-downloaded></app-most-downloaded>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial" *ngIf="testimonials.length">
    <div class="container-fluid" style="direction: ltr !important;">
        <div class="web-container">
            <app-testimonial [testimonials]="testimonials"></app-testimonial>
        </div>
    </div>
</section>
