<section class="py-4">
  <div class="container-fluid">
      <div class="web-container">
          <div class="row rtl">
              <div class="col-lg-9">
                <app-who-is-us [who_is_us]="who_is_us" [magazine_information]="magazine_information"></app-who-is-us>
              </div>
              <div class="col-lg-3">
                  <app-most-viewed [padding]="'py-4'" [position]="'position-sticky sticky'"></app-most-viewed>
              </div>
          </div>
      </div>
  </div>
</section>
