<div class="form-div">
  <form class="p-3" [formGroup]="form" autocomplete="off">

    <div class="row">

      <div class="col-md-6 col-12">
        <!-- content_ar  -->
        <div class="my-4">
          <div>
            <mat-form-field class="w-100">
              <mat-label>{{ 'submit_article.form.content_ar' | translate }}</mat-label>
              <textarea matInput
                        formControlName="content_ar"
                        placeholder="{{ 'submit_article.form.content_ar' | translate }}"
              ></textarea>
            </mat-form-field>
          </div>
          <kt-form-error
            [form]="form"
            [controlName]="'content_ar'"
            [validationType]="'required'"
            [controlText]= "'submit_article.form.content_ar' | translate"
          ></kt-form-error>
        </div>
        <!-- content_ar  -->
      </div>

      <div class="col-md-6 col-12">
        <!-- content_en  -->
        <div class="my-4">
          <div>
            <mat-form-field class="w-100">
              <mat-label>{{ 'submit_article.form.content_en' | translate }}</mat-label>
              <textarea matInput
                        formControlName="content_en"
                        placeholder="{{ 'submit_article.form.content_en' | translate }}"
              ></textarea>
            </mat-form-field>
          </div>
          <kt-form-error
            [form]="form"
            [controlName]="'content_en'"
            [validationType]="'required'"
            [controlText]= "'submit_article.form.content_en' | translate"
          ></kt-form-error>
        </div>
        <!-- content_en  -->
      </div>

      <div class="col-12 rtl">
        <p class="alert alert-secondary">
          يجب ان تضغط على Enter للفصل بين كلمة كلمة رئيسية و اخرى
        </p>
      </div>

      <div class="col-md-6 col-12">
        <!-- keywords_ar  -->
        <div class="my-4">
          <div>
            <mat-form-field class="w-100">
              <mat-label>{{ 'submit_article.form.keywords_ar' | translate }}</mat-label>
              <mat-chip-list #keywords_ar_tag aria-label="Tags">
                <mat-chip *ngFor="let tag of keywords_ar" [selectable]="true"
                          [removable]="true" (removed)="remove(tag, 'ar')">
                  {{ tag }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <label class="w-100">
                  <input class="w-100"
                         formControlName="keywords_ar"
                         placeholder="{{ 'submit_article.form.keywords_ar' | translate }}"
                         style="border:none;"
                         [matChipInputFor]="keywords_ar_tag"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="add($event, 'ar')">
                </label>
              </mat-chip-list>
            </mat-form-field>
          </div>
          <kt-form-error
            [form]="form"
            [controlName]="'keywords_ar'"
            [validationType]="'required'"
            [controlText]= "'submit_article.form.keywords_ar' | translate"
          ></kt-form-error>
        </div>
        <!-- keywords_en  -->
      </div>

      <div class="col-md-6 col-12">
        <!-- keywords_en  -->
        <div class="my-4">
          <div>
            <mat-form-field class="w-100">
              <mat-label>{{ 'submit_article.form.keywords_en' | translate }}</mat-label>
              <mat-chip-list #keywords_en_tag aria-label="Tags">
                <mat-chip *ngFor="let tag of keywords_en" [selectable]="true"
                          [removable]="true" (removed)="remove(tag)">
                  {{ tag }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <label class="w-100">
                  <input class="w-100"
                         formControlName="keywords_en"
                         placeholder="{{ 'submit_article.form.keywords_en' | translate }}"
                         style="border:none;"
                         [matChipInputFor]="keywords_en_tag"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="add($event)">
                </label>
              </mat-chip-list>
            </mat-form-field>
          </div>
          <kt-form-error
            [form]="form"
            [controlName]="'keywords_en'"
            [validationType]="'required'"
            [controlText]= "'submit_article.form.keywords_en' | translate"
          ></kt-form-error>
        </div>
        <!-- keywords_en  -->
      </div>

    </div>

  </form>
</div>

