
.main-color{
  color: var(--main-color);
}

.second-color{
  color: var(--second-color);
}

.third-color{
  color: var(--third-color);
}

.back-ground1{
  background-color: var(--background-1);
}

.back-ground2{
  background-color: var(--white);
}

.back-ground3{
  background-color: var(--background-3);
}


// common code

.link{
  text-decoration: none !important;
}

.list{
  padding: 0;
  margin-bottom: 0;
}

.list-item{
  list-style-type: none;
}

.web-container{
  padding: 12px 48px;
}
h3{
  font-size: 1.4rem !important;
}

p{
  font-size: 1.1rem !important;
}

.title-box{

  .title{
    font-size: 2rem;
    font-weight: 900;
    color: var(--title-color);
  }

  .title-border{
    position: relative;
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--title-after-color);
    margin: -2px auto;
    &:before{
      content: "";
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      border-top: 2px solid var(--title-after-color);
      top: 5px;
      padding: 4px 0 5px;
      width: 40px;
    }
  }
}

.nav-link{
  color: var(--lite-black) !important;
  transition: all .35s ease-in-out;
}

.nav-link.active,
.nav-link:hover{
  color: var(--main-color) !important;
}
