:root {
    --seafoam-blue: #64c5c1;
    --twilight-blue: #191346;
    --black: #141414;
    --green: #89C340;
    --steel-blue: #5b78a2;
    --ice-blue: #f0f8ff;
    --pale-grey: #dce1ed;
    --pinkish-grey: #cccccc;
    --light-grey: #ebebeb;
    --warm-grey: #a0a0a0;
    --medium-grey: #747474;
    --text-grey: #767373;
    --greyish: #afafaf;
    --grey: #d3d3d3;
    --warm-grey-two: #949494;
    --seafoam-blue-two: #6cc8c4;
    --greyish-two: #a5a4a4;
    --dark-grey: #7b7b7b;
    --white: #ffffff;
    --red: #DD5548;

    --main-color: #a98f5b;
    --second-color: #f2f2f2;
    --third-color: #6c665c;
    --background-1: #fffaf3;
    --background-3: #f1f1f1;
    --title-after-color: #6f605d;
    --title-color: #2f0909;
  }
