<section class="">
    <div class="container-fluid">
        <div class="web-container">
            <div class="row rtl">
                <div class="col-12 rtl">
                    <div class="mt-2 mb-3">
                        <app-marquee></app-marquee>
                    </div>
                </div>

                <div class="col-12 rtl">
                    <div class="">
                        <app-slider></app-slider>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<app-latest-news></app-latest-news>

<section class="py-4">
    <div class="container-fluid">
        <div class="web-container">
            <div class="row rtl">
                <div class="col-md-6 mb-4">
                    <app-most-viewed></app-most-viewed>
                </div>

                <div class="col-md-6">
                    <app-most-downloaded></app-most-downloaded>
                </div>
            </div>
        </div>
    </div>
</section>