<section class="">
    <div class="container-fluid">
        <div class="web-container">
            <div class="row rtl">
                <div class="col-12 rtl">
                    <div class="mt-2 mb-3">
                        <app-marquee></app-marquee>
                    </div>
                </div>

                <div class="col-12 rtl">
                    <div class="">
                        <app-slider></app-slider>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>