<section aria-label="basic-form">
  <app-article-basic-data></app-article-basic-data>
</section>

<section aria-label="basic-form">
  <app-article-data-info></app-article-data-info>
</section>

<section aria-label="basic-form">
  <app-article-authors-form></app-article-authors-form>
</section>

<section aria-label="basic-form">
  <app-article-suggested-judges-data></app-article-suggested-judges-data>
</section>

<section aria-label="basic-form">
  <app-article-attachments-data></app-article-attachments-data>
</section>

<section aria-label="basic-form">
  <app-article-confirm-form></app-article-confirm-form>
</section>
