.my-container{
    width: 85%;
}

.mini-title{
    &:hover{
        color: var(--main-color);
    }
    color: #333333;
    font-size: 1.6rem;
    font-weight: 600;
    transition: color 0.4s ease-in-out;
}

.most-content{
    color: #b0b0b8;
}
