<section class="py-4">
  <app-section-title [icon]="'fab fa-youtube'"
                     [main_title]="'الفيديوهات'"
                     [is_section_title]="false">
  </app-section-title>

  <kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>

  <div class="row rtl pt-3" [hidden]="isLoadingResults">
    <div class="col-md-6 col-xl-4" *ngFor="let video of videos | paginate: { id: 'videos',
                                                      itemsPerPage: headerParams.per_page,
                                                      currentPage: pageIndex,
                                                      totalItems: resultsLength }">
      <div class="mb-5">
        <div class="w-100">
          <app-shared-videos [link]="this.video.link" [height]='200'></app-shared-videos>
        </div>

        <div class="text-container py-4">
          <a [routerLink]="detailsUrl(video.slug)" class="link view-title">
            <h3 class="">
              {{ video.title }}
            </h3>
          </a>
          <span class="lead">
                        {{ video.created_at }}
                    </span>
        </div>
      </div>
    </div>
  </div>

  <div aria-label="pagination" class="text-left" *ngIf="videos.length && !isLoadingResults">
    <pagination-controls  id="videos"
                          (pageChange)="pagination($event)"
                          (pageBoundsCorrection)="pagination($event)"
                          maxSize="9"
                          directionLinks="true"
                          autoHide="false"
                          responsive="true"
                          previousLabel="السابق"
                          nextLabel="التالي"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>

  <app-no-data [text]="'فيديوهات'" *ngIf="!videos.length && !isLoadingResults"></app-no-data>

</section>
